.divHome {
max-width: 1000px;
display: flex;
align-items: center;
flex-direction: column;
margin: 0 auto;
height: auto;

}
.divHome h1{
  font-family: 'Audiowide', cursive;
}

button {
  margin: 10px 0px 0px 10px;
  margin-right: 2.5px;
  margin-left: 2.5px;
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: #0D1C32;
}

#header {
  padding: 10px;
  color: #2b5cce;
  font-size: 26px;
  font-family: 'Audiowide', cursive;
  display: flex;
  justify-content: space-between;
  
}
#header button {
  background-color:#4d3ddf;
  font-family: 'Audiowide', cursive;
}

.day-of-week{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
#calendar {   
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 15px 0 15px 0;
}
.day {
  margin: 5px;
  width: 10vw;
  min-width: 50px;
  max-width: 100px;
  padding: 10px;
  height: 6 vh;
  cursor: pointer;
  box-sizing: border-box;
  background-color: rgba(119, 41, 245, 0.7);
  margin: 5 px;
  box-shadow: 0px 0px 3px #CBD4C2;
  border-radius: 5px;
}
.day:hover {
  background-color: #25ff87;
}

.day + .currentDay {
  background-color:#25ff87;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #0d8193 !important;
  box-shadow: none !important;
  opacity: 30%;
}
#newEventModal, #deleteEventModal {
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 200px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #6cd393;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}