*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-image: url('./marampo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: 100% 100%;
    overflow-x: hidden;
}


.h1-welcome {
color: rgb(3, 4, 10);
text-shadow: 3px 1px rgba(29, 37, 31, 0.7);
font-family: 'Rye', cursive;
display: flex;
align-items:  center;
font-size: 40px;
flex-wrap: wrap;

}

.weekDays {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

#form-sign {
    display: flex;
    flex-direction:  column;
    align-items: center;
    margin: 60px;
   
}

#form-sign input {
    height: 25px;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 20px;
}

#form-sign label {
   
    font-family: 'Orbitron', sans-serif;

    text-shadow: 3px 3px rgba(0, 242, 255, 0.7);
    font-size: 30px;
    color:rgb(56, 79, 98)
}

#repite-pass {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: #7ab513;
}

span {
    font-family: 'Rye', cursive;
    margin: 10px;
    text-decoration: underline;
    color: rgb(33, 222, 19);

    
}

span:hover {
    cursor: pointer;
    color: rgb(221, 8, 8);
    
   
}